<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright 2018 Bakumon. https://github.com/Bakumon
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~  limitations under the License.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="me.bakumon.moneykeeper">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- 指纹 -->
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <uses-permission android:name="com.fingerprints.service.ACCESS_FINGERPRINT_MANAGER"/>
    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY"/>

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
            android:name=".App"
            android:allowBackup="false"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="false"
            android:theme="@style/AppTheme"
            tools:replace="android:supportsRtl"
            tools:ignore="GoogleAppIndexingWarning">
        <meta-data
                android:name="io.fabric.ApiKey"
                android:value="78cc0e1b5afde4c17c153efa4cf5bcb10265d7e1"/>
        <activity-alias
                android:name=".LauncherActivity"
                android:targetActivity=".ui.LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <receiver android:name=".widget.WidgetProvider">
            <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/widget_provider_info"/>
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
        </receiver>
        <service
                android:name=".widget.UpdateWidgetService"
                android:exported="false"/>
        <service
                android:name=".CloudBackupService"
                android:exported="false"/>
        <activity
                android:name=".ui.UnlockActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.LauncherActivity"
                android:theme="@style/AppTheme.Launcher"/>
        <activity
                android:name=".ui.home.HomeActivity"
                android:launchMode="singleTask"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.settings.SettingsActivity"
                android:launchMode="singleTop"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.settings.backup.BackupActivity"
                android:launchMode="singleTop"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.settings.other.OtherSettingsActivity"
                android:launchMode="singleTop"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.about.AboutActivity"
                android:launchMode="singleTop"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.add.AddRecordActivity"
                android:launchMode="singleTop"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.addtype.AddTypeActivity"
                android:launchMode="singleTop"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.typemanage.TypeManageActivity"
                android:launchMode="singleTop"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.typesort.TypeSortActivity"
                android:launchMode="singleTop"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.assets.AssetsActivity"
                android:launchMode="singleTop"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.assets.detail.AssetsDetailActivity"
                android:launchMode="singleTop"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.assets.add.AddAssetsActivity"
                android:launchMode="singleTop"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.typerecords.TypeRecordsActivity"
                android:launchMode="singleTop"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.assets.choose.ChooseAssetsActivity"
                android:launchMode="singleTop"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.statistics.StatisticsActivity"
                android:launchMode="singleTop"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.review.ReviewActivity"
                android:launchMode="singleTop"
                android:screenOrientation="portrait"/>
    </application>
</manifest>